body {
    font-family: 'Playfair Display', serif;
}

.input-field{
    height: 25px;
    width: 400px;
    outline: none;
    border-color: #E2E7EC;
   border-style: solid;
   background-position: 7px 7px;
    background-repeat: no-repeat;
    text-indent: 20px;
}
#text:placeholder-shown {
    background-position: 7px 7px;
  }

 
::placeholder {
    color: lightgray;
    opacity: 1; /* Firefox */
    
  }
 
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #0082D4;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #0082D4;
  }

.add-button{
    background-color: #0082D4;
    border: none;
    height: 32px;
    color: white;
    width: 71px;
    margin-left: 20px;
    margin-top: 3px;
    border-radius: 2px;
    outline: none !important;

}
form{
    display: flex;
}

label {
    position: relative;
  }

.click-button{
    position: absolute;
    left: 48%;
}  
.todo-wrapper{
    margin-top: 29px;
}
  
@media screen and (max-width: 1207px) {
    .click-button{
        left: 47%;
    }
 }
 @media screen and (max-width: 996px) {
    .click-button{
        left: 46%;
    }
 }
 @media screen and (max-width: 996px) {
    .click-button{
        left: 45%;
    }
 }
 @media screen and (max-width: 554px) {
    .click-button{
        left: 44%;
    }
 }
 @media screen and (max-width: 320px) {
    .click-button{
        left: 39% !important;
    }
    .input-field{
        width: 268px !important;
    }
 }
  
 @media screen and (max-width: 375px) {
    .click-button{
        left: 42% !important;
    }
    .input-field{
        width: 304px !important;
    }
 } 
 @media screen and (max-width: 425px) {
    .input-field{
        width: 355px;
    }
 } 
 @media screen and (max-width: 768px) {
    .click-button{
        left: 41;
    }
  } 
  
