
.list-wrapper{
    display: flex;
    position: relative;
    left: 40%;
    margin-top: 20px;
}



.delete-button{
    margin-left: 15px;
    border: none;
    background-color: none !important;
    height: 20px;
}

@media screen and (max-width: 320px) {
    .list-wrapper{
        left: 33% !important;
    }
 }
 @media screen and (max-width: 1024px) {
    .list-wrapper{
        left: 45%;
    }
 }
 @media screen and (max-width: 1440px) {
    .list-wrapper{
        left: 47%;
    }
 }
 