h2{
text-align: center;
font-family: 'Playfair Display', serif;
font-size: 36px;
color: #444444;

}
.list-element{
    display: flex;
    left: 40%;
    position: relative;
    margin-top: 20px;
}
h3{
    color: #8B9DA7;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 100;
    left: 40%;
    position: relative;
    margin-top: 20px;
}
.item-list-value{
    padding-left: 14px;
}
.task-status-wrapper{
    margin-left: 41%;
    margin-top: 5%;
}

.all-tasks-button{
    font-size: 20px;
    text-decoration: none;
    color: deepskyblue;
    font-family: 'Playfair Display', serif;
    
}
 .all-tasks-button:hover
{   text-decoration: none;
    color: deepskyblue;
}

.active-task-button{
    font-size: 20px;
    text-decoration: none;
    color:limegreen;
    margin-left: 20px;
    font-family: 'Playfair Display', serif;
}
.active-task-button:hover
{   text-decoration: none;
    color: limegreen;
}


.complete-task-button{
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color: Red;
    font-family: 'Playfair Display', serif;
    
}

.complete-task-button:hover
{   text-decoration: none;
    color: red;
}

@media screen and (max-width: 1207px) {
    .task-status-wrapper{
        margin-left: 39%;
    }
 }

@media screen and (max-width: 1098px) {
    .task-status-wrapper{
        margin-left: 38%;
    }
 }
 @media screen and (max-width: 916px) {
    .task-status-wrapper{
        margin-left: 35%;
    }
 }
 @media screen and (max-width: 768px) {
    .task-status-wrapper{
        margin-left: 32%;
    }
  } 

 @media screen and (max-width: 695px) {
    .task-status-wrapper{
        margin-left: 31%;
    }
 }
 @media screen and (max-width: 621px) {
    .task-status-wrapper{
        margin-left: 29%;
    }
 }
 @media screen and (max-width: 520px) {
    .task-status-wrapper{
        margin-left: 26%;
    }
 }
 @media screen and (max-width: 500px) {
    .task-status-wrapper{
        margin-left: 23%;
    }
  } 

 @media screen and (max-width: 425px) {
    .task-status-wrapper{
        margin-left: 21% !important;
    }
  }
 @media screen and (max-width: 375px) {
    .task-status-wrapper{
        margin-left: 19% !important;
    }
 }
 
 
   
